@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
/* 17/10/20 */
* html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins',  'sans-serif';
}

html{
  scroll-behavior: smooth;
  word-wrap:break-word;
}
.aos-init:not(.aos-animate):after {
  position: fixed;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
}

 /* width */
 ::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #cccccc; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #333333; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222222; 
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 2px;
  border: none;
  outline: none;
  background-color:  #3380ff;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#hand{
  width:40%;
  height: auto;
}

.zoom {
  padding: 50px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.75); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

svg{
  width: 12px;
  height: auto;
}

.navbar{
  padding: 0.8rem;
}
.navbar-nav li{
  padding-right: 1.4rem;
}
.nav-link{
  font-size: 1.2em !important
}

.card{
  border-radius: 10px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer
}

.card-img-top{
  width: 100%;
    height: 15vw;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.btn-primary{
  background-color: #6648b1;
  border: 1px solid #6648b1;
}

.btn-primary:hover{
  background-color: #563d7c;
  border: 1px solid #563d7c;
}

.padding{
  padding-bottom: 2rem;
}

.welcome{
  width:75%;
  margin:0 auto;
  padding-top:2rem;
}

.welcome hr{
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3rem;
}

.fa-atom{
  color: red
}
.fa-dna{
  color:#2163af;
}
.fa-dna, .fa-atom{
  font-size: 4em;
  margin: 1rem
}

h3{
  padding: 0.5rem;
}

.social a{
  font-size: 5em;
  padding: 3rem;
}

.fa-envelope-square{
  color:#00aced;
}

.fa-linkedin{
  color:#2c53a8;
}

.fa-linkedin:hover, .fa-envelope-square:hover{
  color: #d5d5d5
}

.lead a{
  color: black
}

#digital-clock{
  font-size:1.5rem
}

.logoB{
  width:30%
}

footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

/* Socket */

.socket{
  background-color: #222;
  border-top:0.1rem solid gray;
}

.socket a{
  color: white;
  text-decoration: none;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .social a{
    font-size: 4em;
    padding: 2rem;
  }
  footer{
    font-size: 1rem;
  }
  }
@media (max-width: 768px) {

  .display-4{
    font-size:200%
  }
  .social a{
    font-size: 4em;
    padding: 1.2rem;
  }
  .nav-link i{
    display: none;
  }
  .card-img-top{
    height: 20vw;
  }
}
@media (max-width: 576px) {

  .display-4{
    font-size:160%
  }
  .social a{
    font-size: 3em;
    padding: 1.2rem;
  }
  .navbar-brand{
    width: 70%;
  }
  .navbar-toggler{
    font-size:70%
  }
  .display-3{
    font-size:200%
  }
  .card-img-top{
    height: 40vw;
  }
  .card-text{
    display: none;
  }
}
@media (max-width: 400px) {

  .display-4{
    font-size:120%
  }
  .lead{
    font-size: 120%;
  }
  .social a{
    font-size: 3em;
    padding: 1.2rem;
  }
}
@media (max-width: 350px) {

.social a{
  font-size: 3em;
  padding: 3rem;
}}
@media (max-width: 320px) {
html{
  font-size: 90%;
}}

@media (min-width: 1800px) {

  .display-4{
    font-size:250%
  }
  .lead{
    font-size: 150%;
  }
  p{
    font-size: 130%
  }
}

@media screen and (min-width: 1050px) 
{
  svg{
    width: 25px;
    height: 25px;
  }
  #myBtn {
    font-size: 2px;
    background-color: #3380ff;
  }
  #myBtn:hover {
    background-color:#1971fd;
  }
  }
  @media (max-width: 500px) {
    .pagination{
      display: none;
    }
  }


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}